@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Darker Grotesque", sans-serif;
}

body {
  background: url(../../imgs/nnnoise.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.home {
  margin: 150px 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}
.home .home-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .icons {
  margin: 30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 90px;
}

.home-desc {
  text-align: center;
  font-size: 2em;
  margin-top: 100px;
}

.about {
  margin-top: 400px;
  padding: 90px;
}
.about p {
  font-size: 5em;
  color: #FF4D00;
  text-transform: uppercase;
  word-wrap: break-word;
}