@mixin tittleStyle {
    display: flex;
    justify-content: center;
    align-items: center;

}

@mixin stroke {
    color: transparent;
    -webkit-text-stroke: 1px $L1;
}

@mixin background {
    background: url(../../imgs/nnnoise.svg);
    background-size: cover;
    background-repeat: no-repeat;
}