@mixin nav-link {
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: .9px;
    text-transform: uppercase;
    color: $c2;
}

@mixin titles {
    font-weight: 400;
    letter-spacing: 3.6px;
    width: 300px;
    font-size: 7em;
}

@mixin text-anima {
    font-size: 10em;
    color: $c1;
    font-weight: 300;
    letter-spacing: 4.2px;
    text-transform: uppercase;
}
