@import "colors";
@import "mixin";
@import "querys";


@font-face {
    font-family: 'Power Grotesk';
    src: url(../../font/PowerGrotesk-Regular.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Power grotesk', sans-serif;
    
}

body{
    @include background;
    overflow-x: hidden;
}

::selection{
    color: $black;
    background: $L1;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}



.home{
    display: flex;
    padding-top: 140px;
   flex-direction: column;
    .home-title{
        display: flex;
        justify-content: center;
        h1{
            @include titleHome;
            
        }   
    }
    .icons{
        margin: 30px 0 0 0;
        display: flex;
        justify-content: space-around;
       
    }
}

.home-desc{
    text-align: center;
    margin-top: 160px;
    p{
        color: $L1;
        font-size: 3em;
        text-transform: uppercase;
    }
}

.about{
    margin-top: 400px;
    overflow: hidden;
    padding: 90px;
    p{
        font-size: 4.5em;
        color: $L1;
        text-transform: uppercase;
    }
    .contact-button{
        display: flex;
        justify-content: end;
        .link{
            @include aboutLink;
            &:hover{
                background-color: $L1;
            }
        }
    }
}

.animated-text{
    margin-top: 300px;
    overflow: hidden;
    p{
        @include animaText;
    }
}

.projects{
    margin: 400px 0 0 0;
    padding-bottom: 200px;
    h2{
        color: $L1;
        text-align: center;
        font-size: 10em;
        text-transform: uppercase;
    }
    .links-projects{
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        position: relative;
        .project{
            text-align: center;
            position: relative;
            top: -40px;
            img{
                border-radius: 5px;
            }
        }
    }
    
}

.panel-2{
    background: $black;
    .contact{
        display: flex;
        flex-direction: column;
        padding: 80px;
        a{
            font-size: 8em;
            color: $c1;
            text-transform: uppercase;
            transition: .3s;
            &:hover{
                color: $L1;
            }
        }
        .contact-link-1{
            &::before{
                content: url(../../imgs/icon-2.svg);
                margin-right: 20px;
              
            }
        }
        .contact-link-2{
            &::before{
                content: url(../../imgs/icon-4.svg);
                margin-right: 20px;
              
            }
        }

        .contact-link-3{
            &::before{
                content: url(../../imgs/icon-5.svg);
                margin-right: 20px;
              
            }
        }

        .contact-link-4{
            &::before{
                content: url(../../imgs/icon-6.svg);
                margin-right: 20px;
              
            }
        }
    }
}


