@import "colors";
@import "mixin";
@font-face {
    font-family: 'Power Grotesk';
    src: url(../../font/PowerGrotesk-Regular.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Power grotesk', sans-serif;
}

body{
    @include background;
}

a{
    text-decoration: none;
}


.home{
    margin: 150px 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    .home-title{
        @include tittleStyle;
        h1{
            @include titleHome;
            
        }   
    }
    .icons{
        margin: 30px 0 0 0;
        display: flex;
        justify-content: center;
        gap: 150px;
    }
}

.home-desc{
    text-align: center;
    margin-top: 160px;
    p{
        color: $L1;
        font-size: 3em;
        text-transform: uppercase;
    }
}

.about{
    margin-top: 400px;
    padding: 90px;
    display: grid;
    p{
        font-size: 4.5em;
        color: $L1;
        text-transform: uppercase;
        word-wrap: break-word;
    }
    .contact-button{
        display: flex;
        justify-content: end;
        .link{
            @include aboutLink;
            &:hover{
                background-color: $L1;
            }
        }
    }
}

.animated-text{
    display: flex;
    flex-wrap: nowrap;
    p{
        @include animaText;
    }
}